/* Body and Resets */
:root {
    --theme-color1: #88498F;
    --theme-color2: #D83C40;
    --theme-color3: #66A578;
    --theme-color4: #EA8A96;
    --theme-color5: #F5E490;
}

body {
    opacity: 0;
    transition: 0.3s;
    background-color: #F5F5F5;
}
body.shown {
    opacity: 1;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

html::-webkit-scrollbar, .main-sidebar::-webkit-scrollbar {width:7px; height:auto;background: #d5d5d5;padding: 5px;}
html::-webkit-scrollbar-corner, .main-sidebar::-webkit-scrollbar-corner { background: #FFF;}
html::-webkit-scrollbar-button:vertical, .main-sidebar::-webkit-scrollbar-button:vertical {height:0px;display:block;}
html::-webkit-scrollbar-button:horizontal, .main-sidebar::-webkit-scrollbar-button:horizontal {width:0px;display:block;}
html::-webkit-scrollbar-thumb, .main-sidebar::-webkit-scrollbar-thumb  {background: rgb(158, 165, 171);}
html::-webkit-scrollbar-thumb:hover, .main-sidebar::-webkit-scrollbar-thumb:hover {border: 1px solid  #d5d5d5;}
html::-webkit-scrollbar-track-piece, .main-sidebar::-webkit-scrollbar-track-piece {background: none;}

.main-panel {
    width: 100%;
}

.table td, .table th {
    border-top: 0;
}
.table-responsive {
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 0;
}

.page-title-box .page-title {
    padding-left: 50px;
    font-size: 18px;
    line-height: 40px;
}

.page-title-box {
    position: relative;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 0;
    background-color: #FFF;
}
.content_container {
    margin-top: 55px;
}
.breadcrumb {
    padding: .5rem 1rem;
    background-color: transparent;
}
.breadcrumb a {
    color: #555;
}

a.header-icon {
    line-height: 34px;
    padding: 3px 5px;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    display: inline-block;
    font-size: 30px;
    color: #6c757d;
}
a.header-icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.nav-user {
    padding: 0 12px!important;
}
.nav-user img {
    height: 32px;
    width: 32px;
}

.input-group>.input-group-append>.btn {
    border-color: #ced4da;
}

.select2-container--default .select2-results__option[aria-disabled=true], .select2-container--default .select2-results__option:not([id]) {
    display: none;
}
.select2-container.select2-container--open span.select2-selection__rendered {
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}
.select2-dropdown {
    border: 1px solid #ced4da;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
}

/** Header */
.wrapper {
    height: auto;
    min-height: 77vh;
}

.navbar-custom {
    margin: 0 15px;
    min-height: 56px;
}
.navbar-custom .nav-link {
    line-height: 40px;
    transition: 0.2s;
    display: inline-block;
}
.navbar-custom .logo {
    padding: 0 10px 0 0;
    line-height: 54px;
}
.navbar-custom .nav-item {
    float: left;
    display: inline-block;
    padding: 8px 0px;
}

.navbar-custom .dropdown-menu-right {
    top: 93%!important;
}
.dropdown .nav-link {
    margin: 8px 4px;
}
.dropdown.show .nav-link {
    background: var(--theme-color3);
    border-radius: 100px;
}
.notification-list .noti-icon {
    padding: 0 10px;
    line-height: 30px;
}

#topnav {
    background: linear-gradient(135deg,var(--theme-color1),#935059);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001
}

#topnav .has-submenu.active a,#topnav .has-submenu.active a i {
    color: #fff
}

#topnav .has-submenu.active .submenu li.active>a {
    color: #188ae2
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer
}

#topnav .navbar-toggle:focus,#topnav .navbar-toggle:hover {
    background-color: transparent
}

#topnav .navbar-toggle:focus span,#topnav .navbar-toggle:hover span {
    background-color: #fff
}

#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 15px 10px 0 0;
    padding-top: 13px;
    height: 44px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease
}

#topnav .navbar-toggle.open span {
    position: absolute
}

#topnav .navbar-toggle.open span:first-child {
    top: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden
}

#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 18px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

#topnav .navigation-menu>li {
    float: left;
    position: relative
}

#topnav .navigation-menu>li>a {
    display: block;
    color: rgba(255,255,255,.7);
    font-size: 15px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px
}

#topnav .navigation-menu>li>a i {
    font-size: 15px;
    margin-right: 8px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

#topnav .navigation-menu>li>a:focus,#topnav .navigation-menu>li>a:hover {
    background-color: transparent
}

@media (min-width: 992px) {
    #topnav .navigation-menu>li:hover a,#topnav .navigation-menu>li:hover a i,#topnav .navigation-menu>li>a:active,#topnav .navigation-menu>li>a:focus,#topnav .navigation-menu>li>a:hover {
        color:#fff;
    }

    #topnav .navigation-menu>li>a {
        padding-top: 26px;
        padding-bottom: 25px;
    }

    #topnav .topbar-menu {
        display: inline-block;
        padding-bottom: 10px;
    }

    #topnav .navigation-menu>li:first-of-type>a {
        padding-left: 0;
    }

    #topnav .navigation-menu>li.last-elements .submenu {
        left: auto;
        right: 0;
    }

    #topnav .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px
    }

    #topnav .navigation-menu>li>ul>li.has-submenu:active>a,#topnav .navigation-menu>li>ul>li.has-submenu:hover>a {
        color: #188ae2
    }

    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 1000;
        padding: 10px 0;
        list-style: none;
        min-width: 200px;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        border-radius: 4px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #fff;
        -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
        box-shadow: 0 0 45px 0 rgba(0,0,0,.12)
    }

    #topnav .navigation-menu>li .submenu:before {
        left: 20px;
        top: -10px;
        content: "";
        display: block;
        position: absolute;
        background-color: transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        z-index: 9999
    }

    #topnav .navigation-menu>li .submenu.megamenu {
        white-space: nowrap;
        width: auto
    }

    #topnav .navigation-menu>li .submenu.megamenu>li {
        overflow: hidden;
        width: 200px;
        display: inline-block;
        vertical-align: top
    }

    #topnav .navigation-menu>li .submenu>li.has-submenu>a:after {
        content: "\F142";
        font-family: "Material Design Icons";
        position: absolute;
        right: 20px;
        top: 5px;
        font-size: 18px
    }

    #topnav .navigation-menu>li .submenu>li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px
    }

    #topnav .navigation-menu>li .submenu>li .submenu:before {
        display: none!important
    }

    #topnav .navigation-menu>li .submenu li {
        position: relative
    }

    #topnav .navigation-menu>li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0
    }

    #topnav .navigation-menu>li .submenu li a {
        display: block;
        padding: 9px 25px;
        clear: both;
        white-space: nowrap;
        color: #3b3e47;
        -webkit-transition: all .35s ease;
        transition: all .35s ease
    }

    #topnav .navigation-menu>li .submenu li a:hover {
        color: #188ae2
    }

    #topnav .navigation-menu>li .submenu li span {
        display: block;
        padding: 8px 25px;
        clear: both;
        line-height: 1.42857143;
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: #3b3e47
    }

    #topnav .navbar-toggle {
        display: none
    }

    #topnav #navigation {
        display: block!important
    }
}

@media (max-width: 991px) {
    .wrapper {
        padding-top:70px
    }

    .container {
        width: auto!important
    }

    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
        text-align: left
    }

    #topnav .has-submenu.active .submenu li.active>a,#topnav .has-submenu.active a i {
        color: #188ae2
    }

    #topnav .navigation-menu>li {
        display: block;
        float: none
    }

    #topnav .navigation-menu>li>a {
        color: #3b3e47;
        padding: 15px
    }

    #topnav .navigation-menu>li>a i {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        vertical-align: inherit
    }

    #topnav .navigation-menu>li>a:after {
        position: absolute;
        right: 15px
    }

    #topnav .navigation-menu>li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0
    }

    #topnav .navigation-menu>li .submenu li a {
        display: block;
        position: relative;
        padding: 7px 20px;
        color: #3b3e47
    }

    #topnav .navigation-menu>li .submenu li a:hover {
        color: #188ae2
    }

    #topnav .navigation-menu>li .submenu li.has-submenu>a:after {
        content: "\F140";
        font-family: "Material Design Icons";
        position: absolute;
        right: 30px
    }

    #topnav .navigation-menu>li .submenu.open {
        display: block
    }

    #topnav .navigation-menu>li .submenu .submenu {
        display: none;
        list-style: none
    }

    #topnav .navigation-menu>li .submenu .submenu.open {
        display: block
    }

    #topnav .navigation-menu>li .submenu.megamenu>li>ul {
        list-style: none;
        padding-left: 0
    }

    #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span {
        display: block;
        position: relative;
        padding: 15px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
        color: #3b3e47
    }

    #topnav .has-submenu.active a,#topnav .has-submenu.active a i,#topnav .has-submenu.active a:active,#topnav .has-submenu.active a:focus,#topnav .navigation-menu>li.has-submenu.open>a {
        color: #188ae2
    }

    #topnav .navbar-header {
        float: left
    }

    #navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: #fff
    }

    #navigation.open {
        display: block;
        overflow-y: auto
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility:visible;
        opacity: 1;
        margin-top: 0
    }

    #topnav .navigation-menu>li.has-submenu.last-elements:hover>.submenu:before {
        right: 20px;
        left: auto
    }

    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0
    }

    .navbar-toggle {
        display: block
    }
}

@media (max-height: 320px) {
    .navigation-menu {
        max-height:240px!important
    }
}

.navbar-custom {
    border-radius: 0;
    color: #fff;
    z-index: 2;
}

.navbar-custom .nav-link {
    line-height: 28px;
    color: rgba(255,255,255,.8);
    height: 35px;
    padding: 6px 10px;
    margin: 0;
}
.navbar-custom .nav-link.nav-user {
    line-height: 37px;
}

.navbar-custom .dropdown-toggle:after {
    content: initial
}

.checkbox label::before,.radio label::before,.timeline-alt:before {
    content: ""
}

.navbar-custom .menu-left {
    overflow: hidden
}

.navbar-custom .topbar-right-menu li {
    float: left
}

.navbar-custom .logo .logo-sm {
    display: none
}
.navbar-custom .logo .logo-lg {
    display: inline-block;
}

.navbar-custom .dropdown-menu-right {
    -webkit-transform: none!important;
    transform: none!important;
    top: 100%!important;
    right: 0!important;
    left: auto!important
}
.navbar-nav .dropdown-menu:before, .dropdown .dropdown-menu[x-placement="bottom-start"]:before, .dropdown .dropdown-menu[x-placement="bottom-end"]:before, .card.card-just-text .dropdown .dropdown-menu:before, .card-just-text .dropdown .dropdown-menu:before, .dropdown-btn .dropdown-menu:before,
.navbar-nav .dropdown-menu:after, .dropdown .dropdown-menu[x-placement="bottom-start"]:after, .dropdown .dropdown-menu[x-placement="bottom-end"]:after, .card.card-just-text .dropdown .dropdown-menu:after, .card-just-text .dropdown .dropdown-menu:after, .dropdown-btn .dropdown-menu:after,
#topnav .navigation-menu>li .submenu:before {
    display: none;
}
.dropdown-menu {
    margin-top: 5px;
}

#topnav .navigation-menu>li.has-submenu:after {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F140";
    position: absolute;
    top: 10px;
    right: 1px;
    color: rgba(255,255,255,.7);
    transition: 0.2s;
}

#topnav .actions {
    display: inline-block;
    float: right;
}
#topnav .actions .navbar-nav {
    display: inline-block;
}

@media (min-width: 992px) {
    #topnav .navigation-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    #topnav .navigation-menu > li.has-submenu > a {
        padding-right: 20px;
    }
}
@media (max-width: 991px) {
    .wrapper {
        padding-top: 55px;
    }

    .page-title-box {
        top: 56px;
    }

    #navigation {
        top: 57px;
    }

    #topnav .navigation-menu>li .submenu li a {
        transition: 0.2s;
    }
    #topnav .navigation-menu>li .submenu {
        margin-top: 0;
    }

    #topnav .navigation-menu>li.has-submenu:after {
        color: #3b3e47;
        right: 10px;
    }

    #topnav .navigation-menu>li:hover a, #topnav .navigation-menu>li:hover a i, #topnav .navigation-menu>li>a:active, #topnav .navigation-menu>li>a:focus, #topnav .navigation-menu>li>a:hover, #topnav .navigation-menu>li.has-submenu:hover:after, #topnav .has-submenu.active a, #topnav .has-submenu.active a i, #topnav .has-submenu.active a:active, #topnav .has-submenu.active a:focus, #topnav .navigation-menu>li.has-submenu.open>a, #topnav .navigation-menu>li .submenu li a:hover {
        color: var(--theme-color1);
    }
}

/* BreadCrumb */
.breadcrumb-item {
    font-size: 0.85em;
    line-height: 2.1;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .3rem;
    content: "|";
}

/* Card Box */
.card {
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    border: none!important
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1)
}
.card-box .header-title {
    margin-bottom: 8px;
    font-size: 1.00625rem;
    margin-top: 0
}
.card-box .card-drop {
    font-size: 20px;
    line-height: 30px;
    color: inherit;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-top: -6px
}
.card-box .card-drop:hover {
    background-color: #f3f6f8;
    color: #3b3e47
}
.card-header,.card-title {
    margin-top: 0!important
}

/* Shadows & Hovers */
.card-box, .page-title-box {
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.14), 0 1.5px 6px rgba(0, 0, 0, 0.04);
    transition: 0.3s box-shadow;
}
.card-box:hover, #topnav .navigation-menu>li.last-elements .submenu, .navbar-custom .dropdown-menu-right {
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13), 0 3px 12px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.13), 0 3px 12px rgba(0, 0, 0, 0.06);
}
.table .table, .table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Toolbar */
.toolbar .btn-toolbar {
    height: 3.375rem;
    min-width: 3.375rem;
    width: 3.375rem;
    padding: 0;
    transition: 0.3s;
    margin-top: 5px;
    display: inline-block;
}
.toolbar .btn-toolbar.search {
    font-size: 26px;
}
.toolbar .btn-toolbar.search i {
    font-weight: bold;
}
.toolbar .btn-toolbar.addAction {
    padding: 14px 10px;
    width: 100%;
}
.toolbar .btn-toolbar.addAction i {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    position: relative;
    top: 3px;
}
.toolbar .btn-toolbar.addAction span {
    font-weight: bold;
}
.toolbar .materialize .form-label-group {
    margin-top: 10px;
}

.toolbar.materialize .form-label-group label {
    padding-right: 0px;
}

/* Form wizard */
.tabcontrol, .wizard {
    overflow: visible !important;
}
.form-wizard {
    padding: 0 !important;
}
.form-wizard-buttons {
    text-align: right;
    margin-bottom: 30px;
}

/* switchery */
.switchery {
    border: 1px solid #c5c5c5 !important;
}
.switchery>small {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* sticky button */
.materialize {
    position: relative;
}
.sticky-button {
    position: sticky;
    bottom: 0;
    z-index: 999;
}
